.mosaico {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* Responsivo */
  margin-top: 20px;
}

.mosaico img {
  width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
